<%- include('../partials/header'); -%>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">ShopHop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link active" href="/admin/home">Home <span class="sr-only">(current)</span></a>
		  <a class="nav-item nav-link" href="#">About Us</a>
		  <a class="nav-item nav-link" href="#">Contact</a>
		  <a class="nav-item nav-link" href="#">FAQ</a>
		</div>
		<form class="form-inline my-2 my-lg-0 px-2" action="/admin/logout" method="POST">
			<button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
		</form>
	  </div>
	</nav>
	<div class="jumbotron text-center">
	  <h1>Shophop</h1>
	  <h3>Admin Portal</h3>
	  <hr class="my-4">
	  <h4>Choose an option:</h4>
	  <p class="lead mt-3">
		<a class="btn btn-info btn-lg mx-1 my-1" href="/admin/buyers" role="button">View Buyer</a>
		<a class="btn btn-info btn-lg mx-1 my-1" href="/admin/sellers" role="button">View Sellers</a>
		<a class="btn btn-info btn-lg mx-1 my-1" href="/admin/requests" role="button">Seller Approval Requests</a>
	  </p>
	</div>
</body>
</html>
