<%- include('./partials/header'); -%>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">ShopHop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
		  <a class="nav-item nav-link" href="/aboutus">About Us</a>
		  <a class="nav-item nav-link" href="#">Contact</a>
		  <a class="nav-item nav-link" href="#">FAQ</a>
		</div>
	  </div>
	</nav>
	<div class="jumbotron">
	<div class="text-center">
	  <h1 class="display-4">ShopHop</h1>
	  <p class="lead">Become a Seller on our platform.</p>
	  <hr class="my-4">
	</div>
		<div class="card mx-auto" style="width: 25rem;">
			<div class="card-header">Seller Signup</div>
			<div class="card-body">
				<form action="/sellersignup" enctype="multipart/form-data" method="POST">
				  <div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="Pick a username" required>
				  </div>
				  <div class="form-group">
					<label for="email">Email address</label>
					<input type="email" class="form-control" name="email" id="email"  placeholder="Enter email" required>
				  </div>
				  <div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
				  </div>
				  <div class="form-group">
					<label for="phone">Phone No.</label>
					<input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your phone number">
				  </div>
				  <div class="form-group">
				    <label for="city">City</label>
				    <select class="form-control" name="city" id="city" placeholder="Choose your city" required>
					<option>Agra</option>
					<option>Ahemdabad</option>
					<option>Banglore</option>
					<option>Bhopal</option>
					<option>Chennai</option>
					<option>Delhi</option>
					<option>Ghaziabad</option>
					<option>Gurugram</option>
					<option>Hyderabad</option>
					<option>Indore</option>
					<option>Jaipur</option>
					<option>Kanpur</option>
					<option>Kolkata</option>
					<option>Lucknow</option>
					<option>Ludhiana</option>
					<option>Meeerut</option>
					<option>Mumbai</option>
					<option>Noida</option>
					<option>Nagpur</option>
					<option>Patna</option>
					<option>Pune</option>
					<option>Surat</option>
					<option>Thane</option>
					<option>Vadodara</option>
					<option>Visakhapatnam</option>
					<option>Others</option>
				    </select>
				  </div>
				  <div class="form-group">
					<label for="doc">Upload your info in a pdf document</label>
				    	<input type="file" class="btn btn-info btn" name="doc" id="doc" accept='application/pdf' single required>
				  </div>
				  <button type="submit" class="btn btn-primary">Signup</button>
				</form>
				<p class="lead">Already a seller? <a href="/sellerlogin">Login</a> here</p>
			</div>
		</div>
	</div>
</body>
</html>
