<%- include('./partials/header'); -%>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">ShopHop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
		  <a class="nav-item nav-link" href="#">About Us</a>
		  <a class="nav-item nav-link" href="#">Contact</a>
		  <a class="nav-item nav-link" href="#">FAQ</a>
		</div>
	  </div>
	</nav>
	<div class="jumbotron text-center pb-2">
	  <h1>Shophop</h1>
	  <h3>SuperAdmin Portal</h3>
	</div>
  	<div class="card mx-auto" style="width: 25rem;">
		<div class="card-header">Login</div>
		<div class="card-body">
			<form action="/supadminlogin" method="POST">
			  <div class="form-group">
				<label for="sec">Secret Name</label>
				<input type="text" class="form-control" name="username" id="sec" placeholder="Secret Name" required>
			  </div>
			  <div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</body>
</html>
