<%- include('../partials/header'); -%>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/login">ShopHop</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-item nav-link active" href="/login">Home <span class="sr-only">(current)</span></a>
		  <a class="nav-item nav-link" href="#">About Us</a>
		  <a class="nav-item nav-link" href="#">Contact</a>
		  <a class="nav-item nav-link" href="#">FAQ</a>
		</div>
	  </div>
	</nav>
	<div class="jumbotron pb-3">
		<h3>ShopHop</h3>
		<p class="display-4 text-info">You have temporarily been suspended by the admin. Contact the admin!</p>
	</div>
	</div>
</body>
</html>
